html {
  color: white;
  background-color: #3d4249;
  font-family: Inter;
}
#titulo {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 30px;
}
#secao {
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px;
  margin: auto;
  border-radius: 25px;
}
#but {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #3d4249;
}
#pais {
  border-radius: 5px;
  padding: 5px;
}
footer {
  text-align: center;
  font-size: 10px;
  margin: 30px;
}
