html {
  font-family: inter;
  background-color: rgb(149, 149, 149);
}
header {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-family: jetbrains mono;
  font-weight: bold;
}
section {
  font-size: 15px;
  text-align: center;
  background-color: white;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  width: 350px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}
div {
  margin: 20px;
}
#tab {
  margin: auto;
  font-family: jetbrains mono;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}
#num {
  border-radius: 5px;
  width: 70px;
}
footer {
  text-align: center;
  font-size: 12px;
  margin: 20px;
  font-family: jetbrains mono;
  font-style: italic;
}
